footer {
    * {
        color: $footer-color;
    }
    background-color: $color-darkgrey;

    padding: 1.5rem 1.5rem;

    & .title {
        font-size: $FS_foot_title;
        margin-bottom: 1rem;
    }

    & li {
        line-height: 18px;
        font-size: $FS_foot_li_2;
        margin-bottom: .5rem;
        &:nth-child(1), &:nth-child(2) {
            font-weight: bold;
            font-size: $FS_foot_li_1;
        }
        & i{
            display:inline-block;
            line-height: 18px;
            width: 1.5rem;
            text-align: left;
            font-size: 12px;

        }
    }

}