form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    & .title {
        flex: none;
        position: relative;
        
        & h1{
            font-size: map-get($FS_map, h1 )*(28/24);
        }
    
        & .heart_place{
            position: absolute;
            top:    .25rem;
            right:  .5rem;
            @extend %heart;
        }
        

        padding-bottom: 2rem;
    }

    // SEE PAGES/RESTAURANTS


    & .btn{
        width: 11.75rem;
        margin-top: 2.125rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
}
