header {
    text-align: center;

    padding-top: 1.25rem;
    padding-bottom: .75rem;

    background-color: white;
    box-shadow: 0 0 .5rem #9a9a9a;
 }

 
.logo {
    font-size: $FS_logo;
}


.back_to_index {
    position: absolute;
    left:1.5rem;
    line-height: $FS_logo;
    font-size: $FS_back;
 }