.btn {
    display:inline-block;
    position: relative;

    color:$btn-text-color;
    font-size: $FS_btn;
    border-radius:2rem;

    //background-color: $color-sec;
    //background-image: linear-gradient(to left top, $color-prim, hsla(1,1,1,0));

    background-image: linear-gradient(to left top, $color-prim, $color-sec);
    
    
    //padding:1rem 1.5rem;
    padding:1rem 0;

    //transition: background-color 80ms 40ms;

    @extend %shadow;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius:2rem;
        background-image: linear-gradient(to right top, $color-sec, $color-prim);
        opacity: 0;
    }

    &:active{
        color:$btn-text-color;
        //background-color: $color-prim;
        //transition: background-color 80ms 40ms;
        &::before{
            opacity:1;
        }
    }
    &:visited{
        color:$btn-text-color;
    }
}