%heart{ // aka .heart_place

    width:	$heart_size*1.2;
    height:	$heart_size*1.2;


    & label {
		display: flex;

        & .shape{ //pourtour noir
            height: $heart_size;
			width: $heart_size;
        }

        & .mask{
            font-size: $heart_size;
            line-height:$heart_size;

            position: relative;
            left: - $heart_size;

            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to left top, $color-prim, $color-sec);

			transform-origin: center;
			transform: scale(1.1);

            animation: _unmask 400ms forwards;
        }
    }

   

    & input:checked{
        & + label{
            z-index: 50;

            & > .mask{
				opacity: 0;
                animation: _mask 600ms 40ms forwards;
            }
        }
    }


}



@keyframes _mask {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes _unmask {
    0% {
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}
