h1, h2, h3, h4, h5, h6, *, body {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

.choice .mealcard, #rules_list .rule, .rest_card {
  border-radius: 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem 0 #d9d9d9;
          box-shadow: 0.5rem 0.5rem 0.8rem 0 #d9d9d9;
}

.choice label .item_title, .choice label .item_arg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:active {
  top: 3px;
}

@font-face {
  font-family: "Shrikhand";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/shrikhand/shrikhand-regular-webfont.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-medium";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
}

body {
  font-family: "Roboto-regular";
}

.logo {
  font-family: "Shrikhand";
}

.title {
  font-family: "Shrikhand";
}

.h1 {
  font-family: "Roboto-bold";
}

.h2 {
  font-family: "Roboto-medium";
}

.h3 {
  font-family: "Roboto-light";
}

.h5 {
  font-family: "Roboto-light";
}

.h6 {
  font-family: "Roboto-light";
}

.h7 {
  font-family: "Roboto-medium";
}

.entree_plat_dessert {
  font-family: "Roboto-light";
}

.btn {
  font-family: "Roboto-medium";
}

.flag_new {
  font-family: "Roboto-medium";
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 16px;
}

.h5 {
  font-size: 17px;
}

.h6 {
  font-size: 15px;
}

a:active {
  color: #9256dc;
}

ul, li, ol {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

.btn {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 16px;
  border-radius: 2rem;
  border: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ff7ad9), color-stop(#9256dc), to(#ff7ad9));
  background-image: linear-gradient(to left top, #ff7ad9, #9256dc, #ff7ad9);
  background-size: 1000%, 100%;
  background-position: 0 0;
  padding: 1rem 0;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem 0 #d9d9d9;
          box-shadow: 0.5rem 0.5rem 0.8rem 0 #d9d9d9;
}

.btn:hover {
  background-position: 100% 0;
  -webkit-transition-delay: 20ms;
          transition-delay: 20ms;
  -webkit-transition-duration: 140ms;
          transition-duration: 140ms;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem 0 #b3b3b3;
          box-shadow: 0.5rem 0.5rem 0.8rem 0 #b3b3b3;
}

.btn:visited {
  color: white;
}

.flag_new {
  background-color: #a0e4d3;
  color: #007a5c;
  font-size: 13.76px;
  padding: 0.5rem 0.8rem 0.3rem 0.8rem;
  border-radius: 0.2rem;
}

.rest_card .heart_place, main .title .heart_place {
  width: 26.4px;
  height: 26.4px;
}

.rest_card .heart_place label, main .title .heart_place label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rest_card .heart_place label .shape, main .title .heart_place label .shape {
  height: 22px;
  width: 22px;
}

.rest_card .heart_place label .mask, main .title .heart_place label .mask {
  font-size: 22px;
  line-height: 22px;
  position: relative;
  left: -22px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#ff7ad9));
  background-image: linear-gradient(to left top, #9256dc, #ff7ad9);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: _unmask 400ms forwards;
          animation: _unmask 400ms forwards;
}

.rest_card .heart_place input:checked + label, main .title .heart_place input:checked + label {
  z-index: 50;
}

.rest_card .heart_place input:checked + label > .mask, main .title .heart_place input:checked + label > .mask {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: _mask 600ms 40ms forwards;
          animation: _mask 600ms 40ms forwards;
}

@-webkit-keyframes _mask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes _mask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes _unmask {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

@keyframes _unmask {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

main .title .heart_place_var {
  width: 24.2px;
  opacity: 0;
  -webkit-animation: lag 1ms 260ms forwards;
          animation: lag 1ms 260ms forwards;
}

main .title .heart_place_var label {
  height: 22px;
  width: 22px;
}

main .title .heart_place_var label .shape {
  height: 22px;
  width: 22px;
}

main .title .heart_place_var label .bottle {
  position: relative;
  color: #9256dc;
  font-size: 44px;
  left: -39.6px;
  top: -48.4px;
  opacity: 0;
  -webkit-transform-origin: 95% 20%;
          transform-origin: 95% 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

main .title .heart_place_var label .flow {
  position: relative;
  color: #9256dc;
  font-size: 22px;
  height: 22px;
  top: -88px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

main .title .heart_place_var label .mask {
  position: relative;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#ff7ad9));
  background-image: linear-gradient(to left top, #9256dc, #ff7ad9);
  font-size: 22px;
  height: 22px;
  top: -92.4px;
  opacity: 0;
  -webkit-animation: _unmask_var 400ms backwards;
          animation: _unmask_var 400ms backwards;
}

main .title .heart_place_var input:checked + label {
  z-index: 50;
  -webkit-transition: z-index 0ms 2s;
  transition: z-index 0ms 2s;
}

main .title .heart_place_var input:checked + label .shape {
  opacity: 0;
  -webkit-transition: opacity 300ms 1100ms;
  transition: opacity 300ms 1100ms;
}

main .title .heart_place_var input:checked + label .bottle {
  -webkit-animation-name: bottle;
          animation-name: bottle;
  -webkit-animation-delay: 80ms;
          animation-delay: 80ms;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

main .title .heart_place_var input:checked + label .flow {
  -webkit-animation-name: flow;
          animation-name: flow;
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}

main .title .heart_place_var input:checked + label .mask {
  -webkit-animation: _mask_var 200ms 1950ms forwards;
          animation: _mask_var 200ms 1950ms forwards;
}

@-webkit-keyframes bottle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  55%, 70% {
    -webkit-transform: rotate(57deg);
            transform: rotate(57deg);
  }
  90% {
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes bottle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  55%, 70% {
    -webkit-transform: rotate(57deg);
            transform: rotate(57deg);
  }
  90% {
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 8.8px);
            transform: scale(1) translate(0, 8.8px);
  }
  90% {
    -webkit-transform: scale(1) translate(0, 19.8px);
            transform: scale(1) translate(0, 19.8px);
  }
  95% {
    -webkit-transform: scale(1.12) translate(0, 20.9px);
            transform: scale(1.12) translate(0, 20.9px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 20.9px);
            transform: translate(0, 20.9px);
    opacity: 1;
  }
}

@keyframes flow {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 8.8px);
            transform: scale(1) translate(0, 8.8px);
  }
  90% {
    -webkit-transform: scale(1) translate(0, 19.8px);
            transform: scale(1) translate(0, 19.8px);
  }
  95% {
    -webkit-transform: scale(1.12) translate(0, 20.9px);
            transform: scale(1.12) translate(0, 20.9px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 20.9px);
            transform: translate(0, 20.9px);
    opacity: 1;
  }
}

@-webkit-keyframes _mask_var {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes _mask_var {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes _unmask_var {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

@keyframes _unmask_var {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

@-webkit-keyframes lag {
  100% {
    opacity: 1;
  }
}

@keyframes lag {
  100% {
    opacity: 1;
  }
}

.loader__logo {
  position: fixed;
  top: 60px;
  z-index: 99;
  opacity: 0;
  background: none;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 50px;
  color: white;
  -webkit-animation: ohmy 1400ms 1600ms, loading_done 1ms 3000ms;
          animation: ohmy 1400ms 1600ms, loading_done 1ms 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (orientation: portrait) {
  .loader__logo {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .loader__logo {
    right: 15%;
  }
}

.loader {
  position: fixed;
  z-index: 90;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-name: loading_done;
          animation-name: loading_done;
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (orientation: portrait) {
  .loader {
    background-image: url(../images/loader/P1.jpg);
  }
}

@media screen and (orientation: landscape) {
  .loader {
    background-image: url(../images/loader/L1.jpg);
  }
}

.loader .flap {
  width: 20%;
  padding: 1px;
  margin: -1px;
  background-color: white;
}

.loader .flap:nth-child(25) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(24) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 440ms;
          animation-delay: 440ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(23) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(22) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 880ms;
          animation-delay: 880ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(21) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(20) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 374ms;
          animation-delay: 374ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(19) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 594ms;
          animation-delay: 594ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(18) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 814ms;
          animation-delay: 814ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(17) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1034ms;
          animation-delay: 1034ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(16) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1254ms;
          animation-delay: 1254ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(15) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 481.8ms;
          animation-delay: 481.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(14) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 701.8ms;
          animation-delay: 701.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(13) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 921.8ms;
          animation-delay: 921.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(12) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1141.8ms;
          animation-delay: 1141.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(11) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1361.8ms;
          animation-delay: 1361.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(10) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 557.26ms;
          animation-delay: 557.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(9) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 777.26ms;
          animation-delay: 777.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(8) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 997.26ms;
          animation-delay: 997.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(7) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1217.26ms;
          animation-delay: 1217.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(6) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1437.26ms;
          animation-delay: 1437.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(5) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 610.082ms;
          animation-delay: 610.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(4) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 830.082ms;
          animation-delay: 830.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(3) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1050.082ms;
          animation-delay: 1050.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(2) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1270.082ms;
          animation-delay: 1270.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(1) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1490.082ms;
          animation-delay: 1490.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(30) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 374ms;
          animation-delay: 374ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(29) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 594ms;
          animation-delay: 594ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(28) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 814ms;
          animation-delay: 814ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(27) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1034ms;
          animation-delay: 1034ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(26) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1254ms;
          animation-delay: 1254ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(35) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 481.8ms;
          animation-delay: 481.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(34) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 701.8ms;
          animation-delay: 701.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(33) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 921.8ms;
          animation-delay: 921.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(32) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1141.8ms;
          animation-delay: 1141.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(31) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1361.8ms;
          animation-delay: 1361.8ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(40) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 557.26ms;
          animation-delay: 557.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(39) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 777.26ms;
          animation-delay: 777.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(38) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 997.26ms;
          animation-delay: 997.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(37) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1217.26ms;
          animation-delay: 1217.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(36) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1437.26ms;
          animation-delay: 1437.26ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(45) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 610.082ms;
          animation-delay: 610.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(44) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 830.082ms;
          animation-delay: 830.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(43) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1050.082ms;
          animation-delay: 1050.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(42) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1270.082ms;
          animation-delay: 1270.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .flap:nth-child(41) {
  -webkit-animation-name: _flip;
          animation-name: _flip;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 1490.082ms;
          animation-delay: 1490.082ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes _flip {
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: skew(90deg) scale(0);
            transform: skew(90deg) scale(0);
    opacity: 0;
  }
}

@keyframes _flip {
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: skew(90deg) scale(0);
            transform: skew(90deg) scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes ohmy {
  45% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@keyframes ohmy {
  45% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@-webkit-keyframes loading_done {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loading_done {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #ebebeb;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flxR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flxC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: .75rem;
  background-color: white;
  -webkit-box-shadow: 0 0 .5rem #9a9a9a;
          box-shadow: 0 0 .5rem #9a9a9a;
}

.logo {
  font-size: 30px;
}

.back_to_index {
  position: absolute;
  left: 1.5rem;
  line-height: 30px;
  font-size: 20px;
}

footer {
  margin-top: auto;
  background-color: #363636;
  padding: 1.5rem 1.5rem;
}

footer * {
  color: white;
}

footer .title {
  font-size: 18px;
  margin-bottom: 1rem;
}

footer li {
  line-height: 18px;
  font-size: 16px;
  margin-bottom: .5rem;
}

footer li:nth-child(1), footer li:nth-child(2) {
  font-weight: bold;
  font-size: 15.5px;
}

footer li i {
  display: inline-block;
  line-height: 18px;
  width: 1.5rem;
  text-align: left;
  font-size: 12px;
}

footer li a:hover::after {
  display: block;
  content: "";
  margin-top: 0;
  height: 1px;
  width: 2.5rem;
  background-color: white;
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 600px;
}

@media screen and (min-width: 1024px) {
  form {
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

form .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .btn {
  width: 11.75rem;
  margin-top: 2.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.choice .h4 {
  text-transform: uppercase;
}

.choice .h4::after {
  display: block;
  content: "";
  margin-top: 5px;
  height: 3px;
  width: 2.5rem;
  background-color: #a0e4d3;
}

.choice .mealcard {
  background-color: red;
  background-color: white;
  margin: .875rem 0;
  opacity: 0;
  overflow: hidden;
}

.choice .mealcard:nth-of-type(1) {
  -webkit-animation: 500ms 0ms 1 forwards show_meal;
          animation: 500ms 0ms 1 forwards show_meal;
}

.choice .mealcard:nth-of-type(2) {
  -webkit-animation: 500ms 150ms 1 forwards show_meal;
          animation: 500ms 150ms 1 forwards show_meal;
}

.choice .mealcard:nth-of-type(3) {
  -webkit-animation: 500ms 300ms 1 forwards show_meal;
          animation: 500ms 300ms 1 forwards show_meal;
}

.choice .mealcard:nth-of-type(4) {
  -webkit-animation: 500ms 450ms 1 forwards show_meal;
          animation: 500ms 450ms 1 forwards show_meal;
}

.choice label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.choice label .flxC {
  padding: 0.75rem 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

.choice label .flxR {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choice label .item_price {
  font-size: 15px;
  margin-right: 0.5rem;
}

.choice label .visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0rem;
          flex: 0 1 0rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #a0e4d3;
  -webkit-transition-delay: 30ms;
          transition-delay: 30ms;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  overflow: hidden;
}

.choice label .visual .visual_check {
  margin-left: 1.1rem;
  font-size: 1.5rem;
  color: white;
  -webkit-transform-origin: 0.75rem center;
          transform-origin: 0.75rem center;
}

.choice input:checked + label .visual {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.7rem;
          flex: 0 0 3.7rem;
}

.choice input:checked + label .visual .visual_check {
  -webkit-animation: 350ms 150ms twist forwards;
          animation: 350ms 150ms twist forwards;
}

@media screen and (min-width: 1024px) {
  .choice {
    min-width: 25%;
  }
}

@-webkit-keyframes show_meal {
  0% {
    -webkit-transform: translate(0, 0.8rem);
            transform: translate(0, 0.8rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_meal {
  0% {
    -webkit-transform: translate(0, 0.8rem);
            transform: translate(0, 0.8rem);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes twist {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes twist {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

#locate {
  text-align: center;
}

#locate i {
  padding: 1rem;
}

#locate span {
  padding-right: 1rem;
}

#introduction {
  text-align: center;
  background-color: whitesmoke;
  padding: 2.375rem 0;
}

#introduction .h1 {
  line-height: 1.75rem;
  padding: 0 4rem;
}

#introduction .h3 {
  padding: .8rem;
}

#introduction .btn {
  margin: 1rem;
  width: 13.7rem;
}

#rules_list {
  background-color: white;
  padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
  #rules_list .rolling_rules {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

#rules_list .rule {
  background-color: red;
  background-color: whitesmoke;
  padding-top: 1.8rem;
  padding-bottom: 1.25rem;
  margin: 1.5rem 0;
  margin-left: 0.75rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

#rules_list .rule .chip {
  background-color: #9256dc;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 1rem;
  text-align: center;
  line-height: 25px;
  font-family: "Roboto-medium";
  font-size: .855rem;
  margin-left: -12px;
}

#rules_list .rule i {
  margin: 0 1.5rem;
  color: #777;
  font-size: 20px;
  width: 1rem;
}

#rules_list .rule:nth-of-type(2) i {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

#rules_list .rule:nth-of-type(3) {
  background-color: #f4ebff;
}

#rules_list .rule:nth-of-type(3) i {
  color: #9256dc;
  font-size: 18px;
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

#restaurants {
  background-color: whitesmoke;
  padding: 3.5rem 0;
}

.show_restaurants {
  margin-top: .875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (min-width: 600px) {
  .show_restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .show_restaurants .rest_card {
    width: 40%;
    margin-bottom: 2rem;
  }
}

.rest_card {
  background-color: red;
  background-color: white;
  margin: .5rem 0;
  position: relative;
}

.rest_card a img {
  height: 10.875rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.rest_card .flag_new {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.rest_card .bottom_stripe {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .75rem .8125rem;
}

.rest_card .heart_place {
  position: absolute;
  top: 12rem;
  right: 1.5rem;
}

.welcome_pic {
  height: 16.125rem;
  width: 100%;
}

.welcome_pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: whitesmoke;
  border-radius: 2rem 2rem 0 0;
  padding-top: 2.25rem;
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main .title {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  padding-bottom: 2rem;
}

main .title h1 {
  font-size: 28px;
}

main .title .heart_place {
  position: absolute;
  top: .25rem;
  right: .5rem;
}

main .title .heart_place_var {
  position: absolute;
  top: .25rem;
  right: .5rem;
}
/*# sourceMappingURL=main.css.map */