// ##### RESET CSS #########################################

* {
    margin: 0;
    padding: 0;
    @extend %clean_text;
}

body{
    background-color: $color-mediumgrey;
    @extend %clean_text;
}

@each $h_level in $h_levels {
  #{$h_level} {
      @extend %reset_h_style;
  }
}






// ##### BLOCKS #########################################
// a mettre dans layout

.container {
    width: 90%;
    margin: 0 auto;
}



// ##### PARTICULAR ELEMENTS #########################################

.welcome_pic {
    height: 200px;
    width: 100%;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


// ##### SMALL ELEMENTS #########################################

a {
    &:active{
        color:$color-prim;
    }
}


ul, li, ol {
    list-style: none;
}


input[type="checkbox"]{
        display:none;
}

