@font-face {
  font-family: "Shrikhand";
  src: url("public/fonts/shrikhand/Shrikhand-Regular.otf"),
        url("public/fonts/shrikhand/shrikhand-regular-webfont.ttf");
  // font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("public/fonts/roboto/Roboto-Bold.ttf");
  // font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-medium";
  src: url("public/fonts/roboto/Roboto-Medium.ttf");
  // font-weight: medium;
  font-style: normal;
}
  
@font-face {
  font-family: "Roboto-regular";
  src: url("public/fonts/roboto/Roboto-Regular.ttf");
  // font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url("public/fonts/roboto/Roboto-Light.ttf");
  // font-weight: medium;
  font-style: normal;
}

// FONTS SIZES ARE SET IN VARIABLES !!!!!!!!!!!!!!!!


body {
  font-family: "Roboto-regular";
}

.logo {
  font-family: "Shrikhand";
}

.title {
  font-family: "Shrikhand";
}

.h1 {
  font-family: "Roboto-bold";
}
.h2 {
  font-family: "Roboto-medium";
}
.h3 {
  font-family: "Roboto-light";
}
.h5 {
  font-family: "Roboto-light";
}

.btn {
  font-family: "Roboto-medium";
}

.flag_new {
  font-family: "Roboto-medium";
}

