

#locate{
    text-align: center;
    & i{
        padding:1rem;
    }
    & span{
        padding-right: 1rem;
    }
}


#introduction {
    text-align: center;
    background-color: $color-lightgrey;
    padding: 2.375rem 0;
    & .h1{
        line-height: 1.75rem;
        padding: 0 4rem;
    }
    & .h3 {
        padding: .8rem;
    }
    & .btn {
        margin: 1rem;
        width: 13.7rem;
    }
}


#rules_list {
    background-color: white;
    padding-top: 3rem;

    & .rule{
        @include card(rule);
        margin-left: 0.75rem;

        display: flex;
        justify-content: baseline;

        & .chip{
            background-color: $color-prim;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 1rem;
            text-align: center;
            line-height: 25px;
            font-family: "Roboto-medium";
            font-size: .855rem;
            margin-left: -12px;
        }
        
        & i{
            margin: 0 1.5rem;
            color: #777;
            font-size: 20px;
            width: 1rem;
        }
        
        
        &:nth-child(2) i {
            transform : scale(0.8, 1);
        }
        
        
        &:nth-child(3) {
            background-color: $color-prim-light;
            & i{
                color: $color-prim;
                font-size: 18px;
                transform : scale(0.8, 1);
            }
        }
    }
}


#restaurants {
    background-color: $color-lightgrey;
    padding: 3.5rem 0;

}

.show_restaurants{
    margin-top: .875rem;
    display: flex;
    flex-flow: column nowrap;
}

.rest_card {
    @include card(restcard);
    
    position: relative;

        & a img{
            height: 10.875rem;
            width:100%;
            object-fit: cover;
            border-radius: $card_radius $card_radius 0 0;
        }
        & .flag_new {
            position: absolute;
            top:0.7rem;
            right:0.7rem;
        }
        & .bottom_stripe{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: .75rem .8125rem;
        }
        & .heart_place{
            position: absolute;
            top: 12rem;
            right:1.5rem;
            @extend %heart;
        }
}