body {
    background-color: $color-mediumgrey;
}

#locate{
    text-align: center;
    & i{
        padding:1rem;
    }
}


#introduction {
    text-align: center;
    background-color: $color-lightgrey;
    padding: 2.5rem 0;
    & h1{
        padding: 0 4rem;
    }
    & p {
        padding: 1rem;
        font-size:$FS_intro_p;
    }
    & .btn {
        width: 13.7rem;
    }
}


#rules_list {
    background-color: white;
}


#restaurants {
    background-color: $color-lightgrey;
    padding: 3.5rem 0;

    //temporaire :
    height: 1000px;
}

.show_restaurants{
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.rest_card {
    margin:.5rem 0;
    border-radius: 1rem;
    position: relative;
        & img{
            height: 11rem;
            width:100%;
            object-fit: cover;
            border-radius: $card_radius $card_radius 0 0;
        }
        & span {
            position: absolute;
            top:0.7rem;
            right:0.7rem;
        }
}