@mixin underscore($color:$color-ter, $thickness:3px, $length:2.5rem, $mtop:5px) {
    display:block;
    content: "";
    margin-top: $mtop;;
    height: $thickness;
    width:  $length;
    background-color: $color;
}



@mixin card($type){
    @extend %card_style;
    background-color: red; // STAY RED IF NO ARGUMENT PROVIDED

    @if $type == restcard {
        background-color: white;
        margin:.5rem 0;
    }

    @if $type == mealcard {
        background-color: white;
        margin:.875rem 0;
    }

    @if $type == rule {
        background-color: hsl(0, 0%, 96%);
        padding-top: 1.8rem;
        padding-bottom: 1.25rem;
        margin: 1.5rem 0;
    }

}



@mixin shadow($lightness:85%){
    // offset-x | offset-y | blur-radius | spread-radius | color 
    box-shadow: .5rem .5rem .8rem 0 hsl(0, 0%, $lightness);
}


@mixin screen($size){
    @media screen and (min-width: map-get($breakpoints, $size )){
        @content;
    }
}
