%clean_text{
    color: $default-color;
    text-decoration: none;
}


%reset_h_style{
    font-size: $FS_main;
    font-weight: normal;
    @extend %clean_text;
}




%card_style {
    border-radius: $card_radius;
    @include shadow;
}


%text_ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}