%clean_text{
    color: $default-color;
    text-decoration: none;
}


%reset_h_style{
    font-size: $FS_main;
    font-weight: normal;
    @extend %clean_text;
}



%shadow{
    // offset-x | offset-y | blur-radius | spread-radius | color 
    box-shadow: .5rem .5rem .8rem 0 hsl(0, 0%, 85%);
}


%card_style {
    border-radius: $card_radius;
    @extend %shadow;
}


%text_ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}