// ##### DIMENSIONS ###############################




// ##### COLOURS #################################

$color-prim:    hsl(267, 66%, 60%);     //#9356DC
$color-sec:     hsl(317, 100%, 74%);    //#FF79DA
$color-ter:     hsl(165, 56%, 74%);     //#99E2D0

$color-prim-light:  hsl(267, 100%, 96%);    //#f5edff
$color-ter-dark:    hsl(165, 100%, 26%);    //#008766

$color-lightgrey:   hsl(0, 0%, 96%);    //#f6f6f6
$color-mediumgrey:  hsl(0, 0%, 92%);    //#eaeaea
$color-darkgrey:    hsl(0, 0%, 21%);    //#353535


$btn-text-color:white;

// ##### FONTS SIZES ###############################






